<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">
          <!---[${LOG_LEVEL_PATTERN:-%p}]}{FATAL=red, ERROR=red, WARN=yellow, INFO=blue, DEBUG=green, TRACE=green} %d{yyyy-MM-dd HH:mm:ss.SSS} %t: %m%n%ex-->
           [${LOG_LEVEL_PATTERN:-%p}] %d{yyyy-MM-dd HH:mm:ss.SSS}--- %t: %m%n%ex
        </Property>
        <Property name="FILE_LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{[${LOG_LEVEL_PATTERN:-%p}]}{FATAL=red, ERROR=red, WARN=yellow, INFO=blue, DEBUG=green, TRACE=green} --- %t: %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${CONSOLE_LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="WARN" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <File name="DebugLog" fileName="logs/debug_log.log">
            <LevelRangeFilter minLevel="WARN" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
        </File>
        <File name="ErrorLog" fileName="logs/error_log.log">
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DebugLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>
</Configuration>